/* CUSTOM PROPS */
:root {

  --transition-duration: 0.2s;
}

:root[data-theme="light"] {

}

:root[data-theme="dark"] {

}

:root[data-theme="vintage"] {

}


/* GLOBAL */
body {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  margin: 0;
  font-family: "League Spartan", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.03331rem;

  background-color: #fff;
  color: #434A59;
}

img {
  height: auto;
}

*:focus {
  outline: 2px dashed #000;
  outline-offset: 3px;
}

/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* LOGO */
.logo {
  font-size: 2rem;
  letter-spacing: -0.03331rem;
  text-decoration: none;
}


/* THEME-SWITCHER */
.theme-switcher {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  font-size: 0.75rem;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.theme-switcher__text {
}

.theme-switcher__indicators {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  letter-spacing: 0;
}

.theme-switcher__control {
  position: relative;
  z-index: 1;
  display: flex;
  width: 71px;
  height: 26px;
  padding: 5px;
  border-radius: 13px;
  overflow: hidden;
  background-color: #ccc;
}

.theme-switcher__radio:focus ~ .theme-switcher__control {
  outline: 2px dashed #000;
  outline-offset: 3px;
}

.theme-switcher__label {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  /* width: 20px; */
}

.theme-switcher__circle {
  position: absolute;
  z-index: 1;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #000;
  transition: transform var(--transition-duration) ease;
}

.theme-switcher__radio#dark-theme-radio:checked ~ .theme-switcher__control .theme-switcher__circle {
  transform: translateX(0);
}

.theme-switcher__radio#light-theme-radio:checked ~ .theme-switcher__control .theme-switcher__circle {
  transform: translateX(23px);
}

.theme-switcher__radio#vintage-theme-radio:checked ~ .theme-switcher__control .theme-switcher__circle {
  transform: translateX(45px);
}


/* KEY */
.key {
  display: block;
  padding: 13px 10px 11px;
  border: 0;
  border-radius: 5px;
  background-color: #EAE3DC;
  color: #434A59;
  text-align: center;
  box-shadow: 0px -4px 0px 0px #B3A497 inset;
}

.key--7 {
  grid-area: seven;
}

.key--8 {
  grid-area: eight;
}

.key--9 {
  grid-area: nine;
}

.key--del {
  grid-area: del;
}

.key--4 {
  grid-area: four;
}

.key--5 {
  grid-area: five;
}

.key--6 {
  grid-area: six;
}

.key--add {
  grid-area: add;
}

.key--1 {
  grid-area: one;
}

.key--2 {
  grid-area: two;
}

.key--3 {
  grid-area: three;
}

.key--subtract {
  grid-area: subtract;
}

.key--decimal {
  grid-area: decimal;
}

.key--0 {
  grid-area: zero;
}

.key--divide {
  grid-area: divide;
}

.key--multiply {
  grid-area: multiply;
}

.key--reset {
  grid-area: reset;
}

.key--equal {
  grid-area: equal;
}


/* CALCULATOR */
.calculator {
  width: 100%;
  max-width: 33.75rem;
  margin-left: auto;
  margin-right: auto;
}

.calculator__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 32px;
}

.calculator__logo {
  margin-bottom: 3px;
}


.calculator__main {
  display: grid;
  gap: 24px;
}

.calculator__input {
  display: block;
  width: 100%;
  padding: 29px 24px 22px;
  border: 0;
  border-radius: 10px;
  font-size: 2.5rem;
  letter-spacing: -0.04169rem;
  text-align: right;
}

.calculator__keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 64px);
  grid-template-areas:
    "seven eight nine del"
    "four five six add"
    "one two three subtract"
    "decimal zero divide multiply"
    "reset reset equal equal";
  ;
  gap: 13px;
  padding: 24px;
  border-radius: 10px;
  background-color: #242D44;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}

@media only screen and (min-width: 36.75em) {
  body {
    padding: 96px 24px;
    font-size: 2.5rem;
    letter-spacing: -0.04169rem;
  }

  .calculator__logo {
    margin-bottom: 1px;
  }

  .calculator__input {
    padding: 40px 32px 36px;
    font-size: 3.5rem;
    letter-spacing: -0.05831rem;
  }

  .calculator__keyboard {
    gap: 24px;
    padding: 32px 30px;
  }
}
